# EDIT YOUR CSV FILE BEFORE CONTINUING
### USE File ./CPIlosangeles.csv as an example for format after conversion
##### ./CPIlosangeles.csv is the format that the file should start as
1. **Convert** from the City PDF to CSV(Using https://www.zamzar.com/convert/pdf-to-csv/ )
2. **Upload** the file to Jupider Notebook the csv file in Jupider Notebook
2. **Open** The uploaded CSV file and do the following:
    3. **Delete everything above** the line ",Indexes,,,Percent change from-,," <-- Make sure this is the top line
    4. **Delete everything below** the line "All items less food and energy" and the numbers that follow (The immediate line below should start with "Footnotes") 
        1. ^ Make sure this line will be the last line
5. **Save** the changes to your csv file
6. Change the file name below (*in read_csv*) to the name of **your saved** CSV file
7. Also **AT THE BOTTOM** change the export file name to a different name from your original CSV file

In [1]:
import pandas as pd
import numpy as np

In [2]:
dfMAR = pd.read_csv('../Initial_Data_Files/CPI_Riverside_MAR20.csv')
dfNOV = pd.read_csv('../Initial_Data_Files/CPI_Riverside_NOV19.csv')

In [3]:
df = dfMAR.iloc[:, [0, 1, 3]]
dfNOV = dfNOV.iloc[:, [0, 1, 3]]

In [4]:
df.columns = ['Item and Group', 'IDX-JAN-2020', 'IDX-MAR-2020']

In [5]:
df.insert(1, 'IDX-SEP-2019', dfNOV.iloc[:, [1]])
df.insert(2, 'IDX-NOV-2019', dfNOV.iloc[:, [2]])

In [6]:
df = df.drop([0, 1, 2, 3])

In [7]:
df = df.reset_index(drop = True)

In [8]:
df = df.astype({'Item and Group': str, 'IDX-SEP-2019': 'float64', 'IDX-NOV-2019': 'float64', 'IDX-JAN-2020': 'float64', 'IDX-MAR-2020': 'float64'})
df.dtypes

Item and Group     object
IDX-SEP-2019      float64
IDX-NOV-2019      float64
IDX-JAN-2020      float64
IDX-MAR-2020      float64
dtype: object

In [9]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df

,Item and Group,IDX-SEP-2019,IDX-NOV-2019,IDX-JAN-2020,IDX-MAR-2020
0,All items .......................................,106.412,106.573,107.143,107.162
1,Food and beverages ..............................,104.565,103.959,106.468,106.700
2,Food ............................................,104.819,104.292,106.853,107.099
3,Food at home ....................................,101.440,101.386,102.662,103.561
4,Cereals and bakery products .....................,104.417,104.712,104.874,106.098
5,"Meats, poultry, fish, and eggs...................",101.027,100.074,101.213,103.272
6,Dairy and related products ......................,100.287,105.255,105.764,105.285
7,Fruits and vegetables ...........................,101.854,100.967,104.337,104.932
8,Nonalcoholic beverages and beverage,NaN,NaN,NaN,NaN
9,materials........................................,106.858,107.660,107.980,111.713
10,Other food at home ..............................,98.057,96.851,98.237,97.063
11,Food away from home..............................,108.242,107.236,111.259,110.736
12,Food away from home..............................,108.242,107.236,111.259,110.736
13,Alcoholic beverages .............................,100.275,98.334,99.817,99.779
14,Housing .........................................,107.048,107.678,109.886,109.955
15,Shelter .........................................,108.236,108.673,109.951,110.835
16,Rent of primary residence .......................,107.864,108.774,110.071,110.836
17,Owners' equiv. rent of residences ...............,108.330,108.987,110.345,111.161
18,Owners' equiv. rent of primary residence .,108.330,108.987,110.345,111.161
19,Fuels and utilities..............................,103.093,107.532,112.719,111.293
20,Household energy ................................,97.338,104.377,110.807,108.627
21,Energy services..................................,97.393,104.476,111.031,108.831
22,Electricity .....................................,92.563,105.347,108.669,108.665
23,Utility (piped) gas service ....................,114.107,101.460,119.941,108.573
24,Household furnishings and operations ...........,100.572,98.216,105.077,99.660
25,Apparel .........................................,106.510,89.989,93.442,97.442
26,Transportation ..................................,108.799,111.540,106.672,103.961
27,Private transportation ..........................,108.647,111.855,106.595,104.834
28,New and used motor vehicles .....................,99.454,100.146,98.503,99.065
29,New vehicles ....................................,100.417,101.539,101.840,102.993
30,Used cars and trucks.............................,101.173,100.284,99.340,102.569
31,Motor fuel ......................................,120.653,130.065,115.399,108.421
32,Gasoline (all types).............................,120.785,130.261,115.336,108.474
33,"Gasoline, unleaded regular(1).............",121.008,130.493,115.310,108.339
34,"Gasoline, unleaded midgrade(1) .........",120.741,130.130,116.067,111.433
35,"Gasoline, unleaded premium(1) ..........",119.545,128.984,115.258,108.597
36,Motor vehicle insurance .........................,110.121,110.751,113.655,116.349
37,Medical care ....................................,104.586,104.906,105.768,107.539
38,Recreation ......................................,101.354,101.749,99.300,101.545
39,Education and communication .....................,105.604,104.536,104.746,105.182
40,"Tuition, other school fees, and child care.......",114.277,114.587,116.139,116.232
41,Other goods and services ........................,105.500,106.336,107.738,108.452
42,All items .......................................,106.412,106.573,107.143,107.162
43,Commodities .....................................,105.489,104.898,104.416,103.827
44,Commodities less food & beverages..............,106.107,105.527,103.175,102.106
45,Nondurables less food & beverages ...........,108.946,108.510,104.120,102.000
46,Durables ........................................,102.020,101.232,101.653,101.708
47,Services.........................................,106.981,107.603,108.834,109.210
48,All items less medical care .....................,106.540,106.689,107.238,107.138
49,All items less shelter...........................,105.392,105.397,105.582,105.094
50,Commodities less food ...........................,105.897,105.267,103.044,102.003
51,Nondurables .....................................,106.618,106.092,105.367,104.496
52,Nondurables less food............................,108.430,107.904,103.851,101.842
53,Services less rent of shelter ...................,105.259,106.127,107.288,106.946
54,Services less medical care services..............,107.068,107.675,108.882,109.112
55,Energy ..........................................,112.143,120.690,114.089,109.047
56,All items less energy ...........................,105.898,105.305,106.515,106.975
57,All items less food and energy ..................,106.099,105.494,106.496,106.992

In [10]:
df = df.iloc[[0, 1, 4, 5, 6, 7, 14, 25, 26, 37, 38, 39, 41]]
df = df.reset_index(drop = True)

In [11]:
df['Item and Group'] = df['Item and Group'].str.strip('.123456789() ')

In [12]:
df['Inflation Change JAN->MAR'] = ((df['IDX-MAR-2020'] - df['IDX-JAN-2020']) / df['IDX-JAN-2020']) * 100

In [13]:
df

,Item and Group,IDX-SEP-2019,IDX-NOV-2019,IDX-JAN-2020,IDX-MAR-2020,Inflation Change JAN->MAR
0,All items,106.412,106.573,107.143,107.162,0.017733
1,Food and beverages,104.565,103.959,106.468,106.700,0.217906
2,Cereals and bakery products,104.417,104.712,104.874,106.098,1.167115
3,"Meats, poultry, fish, and eggs",101.027,100.074,101.213,103.272,2.034324
4,Dairy and related products,100.287,105.255,105.764,105.285,-0.452895
5,Fruits and vegetables,101.854,100.967,104.337,104.932,0.570267
6,Housing,107.048,107.678,109.886,109.955,0.062792
7,Apparel,106.510,89.989,93.442,97.442,4.280730
8,Transportation,108.799,111.540,106.672,103.961,-2.541435
9,Medical care,104.586,104.906,105.768,107.539,1.674419
10,Recreation,101.354,101.749,99.300,101.545,2.260826
11,Education and communication,105.604,104.536,104.746,105.182,0.416245
12,Other goods and services,105.500,106.336,107.738,108.452,0.662719

In [14]:
JAN_20_SUM = df.loc[[1, 6, 7, 8, 9, 10 , 11, 12], 'IDX-JAN-2020'].sum()
MAR_20_SUM = df.loc[[1, 6, 7, 8, 9, 10 , 11, 12], 'IDX-MAR-2020'].sum()

TOTAL_INFL_PERC = ((MAR_20_SUM - JAN_20_SUM) / JAN_20_SUM) * 100

TOTAL_INFL_PERC

0.8100525167262279

## Abreviations to Use:
Replace the file name below with one of the following corresponding to your city:
    
    San Fransisco --> SF --> ./SF_CPI.csv
    Los Angeles --> LA   --> ./LA_CPI.csv
    San Diego --> SD     --> ./SD_CPI.csv
    Bakersfield --> BF   --> ./BF_CPI.csv

In [15]:
df.to_csv('./RS_CPI_SEP-MAR20.csv', index = False)

Now just **restart and run all** from the Kernal