In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('RiversideCPI.csv')
pd.set_option("display.max_rows", None, "display.max_columns", None)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,All items........................................,107.143,-,107.162,2.3,0.0,-
1,Food and beverages ..............................,106.468,-,106.700,3.5,0.2,-
2,Food ............................................,106.853,-,107.099,3.7,0.2,-
3,Food at home ....................................,102.662,102.524,103.561,2.2,0.9,1
4,Cereals and bakery products .....................,104.874,-,106.098,1.9,1.2,-
5,"Meats, poultry, fish, and eggs...................",101.213,-,103.272,1.9,2.0,-
6,Dairy and related products ......................,105.764,-,105.285,1.2,-0.5,-
7,Fruits and vegetables ...........................,104.337,-,104.932,4.0,0.6,-
8,Nonalcoholic beverages and beverage materials…...,107.980,-,111.713,7.3,3.5,-
9,Other food at home ..............................,98.237,-,97.063,-1.0,-1.2,-
10,Food away from home..............................,111.259,-,110.736,5.2,-0.5,-
11,Food away from home..............................,111.259,-,110.736,5.2,-0.5,-
12,Alcoholic beverages .............................,99.817,-,99.779,0.4,0.0,-
13,Housing .........................................,109.886,-,109.955,4.4,0.1,-
14,Shelter .........................................,109.951,110.684,110.835,5.1,0.8,0.1
15,Rent of primary residence .......................,110.071,110.644,110.836,5.5,0.7,0.2
16,Owners' equiv. rent of residences ...............,110.345,110.95,111.161,5.7,0.7,0.2
17,Owners' equiv. rent of primary residence .,110.345,110.95,111.161,5.7,0.7,0.2
18,Fuels and utilities..............................,112.719,-,111.293,2.3,-1.3,-
19,Household energy ................................,110.807,109.641,108.627,1.4,-2.0,-0.9
20,Energy services..................................,111.031,109.838,108.831,1.6,-2.0,-0.9
21,Electricity .....................................,108.669,108.669,108.665,4.1,0.0,0
22,Utility (piped) gas service ....................,119.941,113.768,108.573,-6.6,-9.5,-4.6
23,Household furnishings and operations...........,105.077,-,99.660,-0.3,-5.2,-
24,Apparel .........................................,93.442,-,97.442,-7.0,4.3,-
25,Transportation ..................................,106.672,-,103.961,-2.3,-2.5,-
26,Private transportation ..........................,106.595,-,104.834,-1.5,-1.7,-
27,New and used motor vehicles .....................,98.503,-,99.065,-3.6,0.6,-
28,New vehicles ....................................,101.840,-,102.993,0.4,1.1,-
29,Used cars and trucks.............................,99.340,-,102.569,-0.1,3.3,-
30,Motor fuel ......................................,115.399,114.514,108.421,-2.3,-6.0,-5.3
31,Gasoline (all types).............................,115.336,114.536,108.474,-2.3,-5.9,-5.3
32,"Gasoline, unleaded regular(1).............",115.310,114.586,108.339,-2.5,-6.0,-5.5
33,"Gasoline, unleaded midgrade(1) .........",116.067,115.089,111.433,0.2,-4.0,-3.2
34,"Gasoline, unleaded premium(1) ..........",115.258,114.094,108.597,-1.5,-5.8,-4.8
35,Motor vehicle insurance .........................,113.655,-,116.349,5.7,2.4,-
36,Medical care ....................................,105.768,-,107.539,5.8,1.7,-
37,Recreation ......................................,99.300,-,101.545,-0.6,2.3,-
38,Education and communication .....................,104.746,-,105.182,1.2,0.4,-
39,"Tuition, other school fees, and child care.......",116.139,-,116.232,3.8,0.1,-
40,Other goods and services ........................,107.738,-,108.452,1.3,0.7,-
41,All items........................................,107.143,-,107.162,2.3,0.0,-
42,Commodities .....................................,104.416,-,103.827,0.1,-0.6,-
43,Commodities less food & beverages..............,103.175,-,102.106,-2.0,-1.0,-
44,Nondurables less food & beverages ...........,104.120,-,102.000,-2.8,-2.0,-
45,Durables ........................................,101.653,-,101.708,-1.4,0.1,-
46,Services.........................................,108.834,-,109.210,3.7,0.3,-
47,All items less medical care .....................,107.238,-,107.138,2.1,-0.1,-
48,All items less shelter...........................,105.582,-,105.094,0.7,-0.5,-
49,Commodities less food ...........................,103.044,-,102.003,-2.0,-1.0,-
50,Nondurables .....................................,105.367,-,104.496,0.5,-0.8,-
51,Nondurables less food............................,103.851,-,101.842,-2.7,-1.9,-
52,Services less rent of shelter ...................,107.288,-,106.946,1.6,-0.3,-
53,Services less medical care services..............,108.882,-,109.112,3.4,0.2,-
54,Energy ..........................................,114.089,113.083,109.047,-0.5,-4.4,-3.6
55,All items less energy ...........................,106.515,-,106.975,2.5,0.4,-
56,All items less food and energy ..................,106.496,-,106.992,2.4,0.5,-

Start to rename, replace and drop rows

In [3]:
df = df.rename({'Unnamed: 0':'Item and Group'}, axis='columns')
df = df.rename({'Unnamed: 1':'Index-Jan_20'}, axis='columns')
df = df.rename({'Unnamed: 2':'Index-Feb_20'}, axis='columns')
df = df.rename({'Unnamed: 3':'Index-Mar_20'}, axis='columns')
df = df.drop(columns = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'])
df = df.replace(' -', np.NaN)
df

,Item and Group,Index-Jan_20,Index-Feb_20,Index-Mar_20
0,All items........................................,107.143,NaN,107.162
1,Food and beverages ..............................,106.468,NaN,106.700
2,Food ............................................,106.853,NaN,107.099
3,Food at home ....................................,102.662,102.524,103.561
4,Cereals and bakery products .....................,104.874,NaN,106.098
5,"Meats, poultry, fish, and eggs...................",101.213,NaN,103.272
6,Dairy and related products ......................,105.764,NaN,105.285
7,Fruits and vegetables ...........................,104.337,NaN,104.932
8,Nonalcoholic beverages and beverage materials…...,107.980,NaN,111.713
9,Other food at home ..............................,98.237,NaN,97.063
10,Food away from home..............................,111.259,NaN,110.736
11,Food away from home..............................,111.259,NaN,110.736
12,Alcoholic beverages .............................,99.817,NaN,99.779
13,Housing .........................................,109.886,NaN,109.955
14,Shelter .........................................,109.951,110.684,110.835
15,Rent of primary residence .......................,110.071,110.644,110.836
16,Owners' equiv. rent of residences ...............,110.345,110.95,111.161
17,Owners' equiv. rent of primary residence .,110.345,110.95,111.161
18,Fuels and utilities..............................,112.719,NaN,111.293
19,Household energy ................................,110.807,109.641,108.627
20,Energy services..................................,111.031,109.838,108.831
21,Electricity .....................................,108.669,108.669,108.665
22,Utility (piped) gas service ....................,119.941,113.768,108.573
23,Household furnishings and operations...........,105.077,NaN,99.660
24,Apparel .........................................,93.442,NaN,97.442
25,Transportation ..................................,106.672,NaN,103.961
26,Private transportation ..........................,106.595,NaN,104.834
27,New and used motor vehicles .....................,98.503,NaN,99.065
28,New vehicles ....................................,101.840,NaN,102.993
29,Used cars and trucks.............................,99.340,NaN,102.569
30,Motor fuel ......................................,115.399,114.514,108.421
31,Gasoline (all types).............................,115.336,114.536,108.474
32,"Gasoline, unleaded regular(1).............",115.310,114.586,108.339
33,"Gasoline, unleaded midgrade(1) .........",116.067,115.089,111.433
34,"Gasoline, unleaded premium(1) ..........",115.258,114.094,108.597
35,Motor vehicle insurance .........................,113.655,NaN,116.349
36,Medical care ....................................,105.768,NaN,107.539
37,Recreation ......................................,99.300,NaN,101.545
38,Education and communication .....................,104.746,NaN,105.182
39,"Tuition, other school fees, and child care.......",116.139,NaN,116.232
40,Other goods and services ........................,107.738,NaN,108.452
41,All items........................................,107.143,NaN,107.162
42,Commodities .....................................,104.416,NaN,103.827
43,Commodities less food & beverages..............,103.175,NaN,102.106
44,Nondurables less food & beverages ...........,104.120,NaN,102.000
45,Durables ........................................,101.653,NaN,101.708
46,Services.........................................,108.834,NaN,109.210
47,All items less medical care .....................,107.238,NaN,107.138
48,All items less shelter...........................,105.582,NaN,105.094
49,Commodities less food ...........................,103.044,NaN,102.003
50,Nondurables .....................................,105.367,NaN,104.496
51,Nondurables less food............................,103.851,NaN,101.842
52,Services less rent of shelter ...................,107.288,NaN,106.946
53,Services less medical care services..............,108.882,NaN,109.112
54,Energy ..........................................,114.089,113.083,109.047
55,All items less energy ...........................,106.515,NaN,106.975
56,All items less food and energy ..................,106.496,NaN,106.992

In [4]:
df['Item and Group'] = df['Item and Group'].str.strip('.123456789() ')
df.at[8,'Item and Group']= "Nonalcoholic beverages and beverage materials"
df = df.reset_index(drop=True)
df

,Item and Group,Index-Jan_20,Index-Feb_20,Index-Mar_20
0,All items,107.143,NaN,107.162
1,Food and beverages,106.468,NaN,106.700
2,Food,106.853,NaN,107.099
3,Food at home,102.662,102.524,103.561
4,Cereals and bakery products,104.874,NaN,106.098
5,"Meats, poultry, fish, and eggs",101.213,NaN,103.272
6,Dairy and related products,105.764,NaN,105.285
7,Fruits and vegetables,104.337,NaN,104.932
8,Nonalcoholic beverages and beverage materials,107.980,NaN,111.713
9,Other food at home,98.237,NaN,97.063
10,Food away from home,111.259,NaN,110.736
11,Food away from home,111.259,NaN,110.736
12,Alcoholic beverages,99.817,NaN,99.779
13,Housing,109.886,NaN,109.955
14,Shelter,109.951,110.684,110.835
15,Rent of primary residence,110.071,110.644,110.836
16,Owners' equiv. rent of residences,110.345,110.95,111.161
17,Owners' equiv. rent of primary residence,110.345,110.95,111.161
18,Fuels and utilities,112.719,NaN,111.293
19,Household energy,110.807,109.641,108.627
20,Energy services,111.031,109.838,108.831
21,Electricity,108.669,108.669,108.665
22,Utility (piped) gas service,119.941,113.768,108.573
23,Household furnishings and operations,105.077,NaN,99.660
24,Apparel,93.442,NaN,97.442
25,Transportation,106.672,NaN,103.961
26,Private transportation,106.595,NaN,104.834
27,New and used motor vehicles,98.503,NaN,99.065
28,New vehicles,101.840,NaN,102.993
29,Used cars and trucks,99.340,NaN,102.569
30,Motor fuel,115.399,114.514,108.421
31,Gasoline (all types,115.336,114.536,108.474
32,"Gasoline, unleaded regular",115.310,114.586,108.339
33,"Gasoline, unleaded midgrade",116.067,115.089,111.433
34,"Gasoline, unleaded premium",115.258,114.094,108.597
35,Motor vehicle insurance,113.655,NaN,116.349
36,Medical care,105.768,NaN,107.539
37,Recreation,99.300,NaN,101.545
38,Education and communication,104.746,NaN,105.182
39,"Tuition, other school fees, and child care",116.139,NaN,116.232
40,Other goods and services,107.738,NaN,108.452
41,All items,107.143,NaN,107.162
42,Commodities,104.416,NaN,103.827
43,Commodities less food & beverages,103.175,NaN,102.106
44,Nondurables less food & beverages,104.120,NaN,102.000
45,Durables,101.653,NaN,101.708
46,Services,108.834,NaN,109.210
47,All items less medical care,107.238,NaN,107.138
48,All items less shelter,105.582,NaN,105.094
49,Commodities less food,103.044,NaN,102.003
50,Nondurables,105.367,NaN,104.496
51,Nondurables less food,103.851,NaN,101.842
52,Services less rent of shelter,107.288,NaN,106.946
53,Services less medical care services,108.882,NaN,109.112
54,Energy,114.089,113.083,109.047
55,All items less energy,106.515,NaN,106.975
56,All items less food and energy,106.496,NaN,106.992

In [5]:
df = df.loc[0:40, :]
df

,Item and Group,Index-Jan_20,Index-Feb_20,Index-Mar_20
0,All items,107.143,NaN,107.162
1,Food and beverages,106.468,NaN,106.700
2,Food,106.853,NaN,107.099
3,Food at home,102.662,102.524,103.561
4,Cereals and bakery products,104.874,NaN,106.098
5,"Meats, poultry, fish, and eggs",101.213,NaN,103.272
6,Dairy and related products,105.764,NaN,105.285
7,Fruits and vegetables,104.337,NaN,104.932
8,Nonalcoholic beverages and beverage materials,107.980,NaN,111.713
9,Other food at home,98.237,NaN,97.063
10,Food away from home,111.259,NaN,110.736
11,Food away from home,111.259,NaN,110.736
12,Alcoholic beverages,99.817,NaN,99.779
13,Housing,109.886,NaN,109.955
14,Shelter,109.951,110.684,110.835
15,Rent of primary residence,110.071,110.644,110.836
16,Owners' equiv. rent of residences,110.345,110.95,111.161
17,Owners' equiv. rent of primary residence,110.345,110.95,111.161
18,Fuels and utilities,112.719,NaN,111.293
19,Household energy,110.807,109.641,108.627
20,Energy services,111.031,109.838,108.831
21,Electricity,108.669,108.669,108.665
22,Utility (piped) gas service,119.941,113.768,108.573
23,Household furnishings and operations,105.077,NaN,99.660
24,Apparel,93.442,NaN,97.442
25,Transportation,106.672,NaN,103.961
26,Private transportation,106.595,NaN,104.834
27,New and used motor vehicles,98.503,NaN,99.065
28,New vehicles,101.840,NaN,102.993
29,Used cars and trucks,99.340,NaN,102.569
30,Motor fuel,115.399,114.514,108.421
31,Gasoline (all types,115.336,114.536,108.474
32,"Gasoline, unleaded regular",115.310,114.586,108.339
33,"Gasoline, unleaded midgrade",116.067,115.089,111.433
34,"Gasoline, unleaded premium",115.258,114.094,108.597
35,Motor vehicle insurance,113.655,NaN,116.349
36,Medical care,105.768,NaN,107.539
37,Recreation,99.300,NaN,101.545
38,Education and communication,104.746,NaN,105.182
39,"Tuition, other school fees, and child care",116.139,NaN,116.232
40,Other goods and services,107.738,NaN,108.452

In [6]:
df = df.drop([1, 3, 8, 9, 10, 11, 12])
df = df.drop([14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
df = df.drop([26, 27, 28, 29, 30, 31, 32, 33, 34, 35])
df = df.drop(39)

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

                    Item and Group  Index-Jan_20 Index-Feb_20  Index-Mar_20
0                        All items       107.143          NaN       107.162
1                             Food       106.853          NaN       107.099
2      Cereals and bakery products       104.874          NaN       106.098
3   Meats, poultry, fish, and eggs       101.213          NaN       103.272
4       Dairy and related products       105.764          NaN       105.285
5            Fruits and vegetables       104.337          NaN       104.932
6                          Housing       109.886          NaN       109.955
7                          Apparel        93.442          NaN        97.442
8                   Transportation       106.672          NaN       103.961
9                     Medical care       105.768          NaN       107.539
10                      Recreation        99.300          NaN       101.545
11     Education and communication       104.746          NaN       105.182
12        Other goods and services       107.738          NaN       108.452

In [9]:
df.to_csv('./Riverside_CPI_Updated.csv', index = False)